* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../img/photos/background2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 25%;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 3px dashed red;
}

.main .input {
  width: 90%;
  padding: 8px 25px;
  border: 3px solid #9e9e9e;
  outline: none;
  margin: 15px 0;
}
.main .input:focus {
  border: 3px solid #fe0000;
}

.input {
  font-size: 1.1rem;
  border-radius: 5px;
}

.btn {
  font-size: 1.1rem;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main .btn {
  width: 90%;
  padding: 12px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #0f1800;
  color: #fff;
  transition: 0.3s;
}
.main .code {
  margin: 10px 0;
}

.main .btn:hover {
  box-shadow: 0 10px 25px -10px #000;
}

#toast {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  padding: 10px 50px;
  background: #000;
  color: #ff0000;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 25px -10px #07f49e;
  transition: 0.3s;
  font-size: 20px;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.logo_div {
  display: flex;
  align-items: center;
}

.img1 {
  width: 110px;
}

.img2 {
  width: 230px;
  height: 90px;
}

.code {
  width: 60%;
}

.brand_cards {
  width: 100px;
  height: 100px;
}
